@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .auto-container {
        padding-left: 8%;
        padding-right: 8%;
    }
}

body,
html {
    font-family: "Poppins", sans-serif;
    color: #323233;
}

h1 {
    font-family: "Raleway", sans-serif;
}

h2,
.deal-banner .caption h2 {
    font-family: "Raleway", sans-serif;
}

h3 {
    font-family: "Raleway", sans-serif;
}

h4 {
    font-family: "Raleway", sans-serif;
}

h5,
.testimonials h5 {
    font-family: "Raleway", sans-serif;
}

h6,
.share h5,
.share ul,
.sidebar .widget .item-detail h4 {
    font-family: "Raleway", sans-serif;
}


/*-------------------- REVOLUTION LAYERS STYLES -------------------*/

#rev_slider_1_1[data-slideactive="rs-1"] .uranus .tp-bullet {
    box-shadow: 0 0 0 2px rgba(224, 31, 34, 0) !important;
}

#rev_slider_1_1[data-slideactive="rs-1"] .uranus .tp-bullet.selected,
#rev_slider_1_1[data-slideactive="rs-1"] .uranus .tp-bullet:hover {
    box-shadow: 0 0 0 2px #e01f22 !important;
}

#rev_slider_1_1[data-slideactive="rs-1"] .uranus .tp-bullet-inner {
    background-color: rgba(224, 31, 34, 0.3) !important;
}

#rev_slider_1_1[data-slideactive="rs-1"] .uranus .tp-bullet.selected .tp-bullet-inner,
#rev_slider_1_1[data-slideactive="rs-1"] .uranus .tp-bullet:hover .tp-bullet-inner {
    background-color: #e01f22 !important;
}

#rev_slider_1_1[data-slideactive="rs-2"] .uranus .tp-bullet {
    box-shadow: 0 0 0 2px rgba(224, 31, 34, 0) !important;
}

#rev_slider_1_1[data-slideactive="rs-2"] .uranus .tp-bullet.selected,
#rev_slider_1_1[data-slideactive="rs-2"] .uranus .tp-bullet:hover {
    box-shadow: 0 0 0 2px #e01f22 !important;
}

#rev_slider_1_1[data-slideactive="rs-2"] .uranus .tp-bullet-inner {
    background-color: rgba(224, 31, 34, 0.3) !important;
}

#rev_slider_1_1[data-slideactive="rs-2"] .uranus .tp-bullet.selected .tp-bullet-inner,
#rev_slider_1_1[data-slideactive="rs-2"] .uranus .tp-bullet:hover .tp-bullet-inner {
    background-color: #e01f22 !important;
}

#rev_slider_1_1 .uranus .tp-bullet {
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
    -webkit-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    background: transparent;
    width: 15px;
    height: 15px;
}

#rev_slider_1_1 .uranus .tp-bullet.selected,
#rev_slider_1_1 .uranus .tp-bullet:hover {
    box-shadow: 0 0 0 2px white;
    border: none;
    border-radius: 50%;
    background: transparent;
}

#rev_slider_1_1 .uranus .tp-bullet-inner {
    -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.3);
    text-indent: -999em;
    cursor: pointer;
    position: absolute;
}

#rev_slider_1_1 .uranus .tp-bullet.selected .tp-bullet-inner,
#rev_slider_1_1 .uranus .tp-bullet:hover .tp-bullet-inner {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    background-color: white;
}


/*--------------------  header start  -------------------*/

header.site-header .topbar {
    background: #323232;
    color: #fff;
}

header.site-header .topbar .topbar-link ul li a {
    color: #fff;
}

header.site-header .topbar .topbar-link ul li i {
    color: #fff;
}

header.site-header .topbar .topbar-link ul li.topbar_item {
    padding: 7px 6px;
}

header.site-header .topbar .topbar-right .topbar-link>ul>li a {
    color: #fff;
}

header.site-header .header-nav {
    background-color: #fff;
}

header.site-header .mega-menu .menu-links>li:hover>a {
    color: #e01f22;
}

header.site-header .mega-menu .menu-links>li>a {
    color: #323233;
}

header.site-header .mega-menu .menu-links>li.current-menu-item a {
    color: #e01f22;
}

header.site-header .ciya-tools-actions>li a:hover i {
    color: #e01f22;
}

header.site-header .ciya-tools-actions>li .widget-shopping-cart .product-list-widget-container .ciyastore-mini-cart .ciya-mini-cart-item a.product-title {
    color: #323232;
}

header.site-header .ciya-tools-actions>li .widget-shopping-cart .product-list-widget-container .ciyastore-mini-cart .ciya-mini-cart-item a.product-title:hover {
    color: #e01f22;
}

header.site-header .ciya-tools-actions>li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button {
    background: #e01f22;
}

header.site-header .ciya-tools-actions>li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button:hover {
    background: #323232;
}

header.site-header .ciya-tools-actions>li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button:last-child {
    background: #323232;
    margin-right: 0;
}

header.site-header .ciya-tools-actions>li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button:last-child:hover {
    background: #e01f22;
    color: #ffffff !important;
}

header.site-header .ciya-tools-actions>li .widget-shopping-cart .ciyastore-mini-cart__total .amount {
    color: #e01f22;
}

header.site-header .ciya-tools-actions>li .widget-shopping-cart .ciyastore-mini-cart__total strong {
    color: #323232;
    min-width: 40px;
    display: inline-block;
}

header.site-header .ciya-tools-actions>li .widget-shopping-cart .quantity .amount {
    color: #e01f22;
}

header.site-header .ciya-tools-cart a .count {
    background: #e01f22;
}

header.site-header .ciya-tools-cart .cart-link .count {
    background: #e01f22;
}

header.site-header .ciya-tools-wishlist a .ciyastore-wishlist-count {
    background: #e01f22;
}

header.site-header .logo-wrapper img {
    max-height: 60px;
    width: auto;
    max-width: initial;
}

header.site-header .search_form-wrap .search_form-inner input.form-control {
    border-radius: 0px;
}

header.site-header .select2-container--default .select2-selection--single {
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.04);
}

header.site-header .header-main.header-main-bg-color-default {
    border-bottom: 1px solid #ededed;
}

header.site-header.is-sticky .mega-menu .menu-links>li>a {
    color: #757575;
}

header.site-header.is-sticky .mega-menu .menu-links>li:hover>a {
    color: #e01f22;
}

header.site-header.is-sticky .mega-menu .menu-links>li.current-menu-item a {
    color: #e01f22;
}

header.site-header.is-sticky .ciya-tools-actions>li a:hover .glyph-icon {
    color: #e01f22;
}

header.site-header .ciya-tools {
    float: right;
    margin-left: 15px;
}

header.site-header .header-search-wrap {
    display: inline-block;
    vertical-align: middle;
}

header.site-header .header-search-wrap:focus {
    outline: none;
}

header.site-header .header-search-wrap .search-button {
    width: 35px;
    height: 45px;
    line-height: 45px;
    background: 0 0;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #323232;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header.site-header .header-search-wrap .search-button:hover {
    color: #e01f22;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none !important;
}

.section-product-spacing {
    padding: 60px 0px 30px;
}

.mega-menu * {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.footer-img img {
    max-height: 60px;
    width: auto;
    max-width: initial;
}


/*--------------------  Footer start  -------------------*/

footer.site-footer {
    background: #323232;
    color: #fff;
}

footer.site-footer a {
    color: #fff;
}

footer.site-footer .site-info {
    background: #292929;
}

footer.site-footer .site-info .footer-widget p {
    color: #fff;
}

footer.site-footer .site-info .footer-widget p a {
    color: #fff;
}

footer.site-footer .widget ul li a {
    color: #fff;
}

footer.site-footer .widget ul li:hover a {
    color: #e01f22;
}

footer.site-footer .footer-nav-menu ul li a:after {
    color: #fff;
}

footer.site-footer .footer-nav-menu ul li a:before {
    color: #fff;
}

footer.site-footer .pgs-social-profiles .social-profiles ul li a i {
    color: #fff;
    border: 1px solid rgba(173, 173, 173, 0.5);
}

footer.site-footer .pgs-social-profiles .social-profiles ul li a:hover i {
    background-color: #e01f22;
    border-color: #e01f22;
    color: #fff;
}

footer.site-footer .pgs-contact-widget ul li i {
    color: #e01f22;
}

.search_form-wrap .search_form-search-button:before {
    color: #e01f22;
}


/********************************
  header-style-menu-default
********************************/

.header-style-menu-default .topbar .topbar-link ul li.topbar_item {
    padding: 7px 6px !important;
}

.header-style-menu-default .topbar .topbar-right .topbar-link>ul>li {
    border-left: 0px solid rgba(0, 0, 0, 0.08) !important;
}

.header-style-menu-default .topbar .topbar-left .topbar-link>ul>li {
    border-right: 0px solid rgba(0, 0, 0, 0.08) !important;
    border-left: 0px solid rgba(0, 0, 0, 0.08) !important;
}

.header-style-menu-default .header-search-wrap .search-button {
    display: none !important;
}

.header-style-menu-default .sticky-menu {
    display: none;
}

.header-style-menu-default.is-sticky .sticky-menu {
    display: inline-block;
    float: right;
}

.header-style-menu-default.is-sticky .header-nav-bg-color-default {
    display: none;
}

.header-style-menu-default.is-sticky .ciya-tools {
    padding: 12px 0px;
}

.header-style-menu-default.is-sticky .search_form-wrap {
    display: none;
}

header.site-header .topbar .topbar-link ul li {
    line-height: normal;
}

footer.site-footer .footer-align-center .footer-nav-menu ul li a {
    padding-left: 15px;
}

footer.site-footer .footer-align-center .footer-nav-menu ul li a:before,
footer.site-footer .footer-align-center .footer-nav-menu ul li a:after {
    content: "\f105";
}

footer.site-footer .footer-nav-menu ul li a:hover:after {
    color: #e01f22;
}

header.site-header .topbar .topbar-link ul li a:hover {
    color: #e01f22;
}


/*-------------------- Header Banner Start  -------------------*/

.ciyastore_banner {
    margin-bottom: 0px;
}

.ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-btn-wrap {
    margin-top: 5px;
}

.ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper.banner-type-1 .ciyastore_banner-btn-wrap.ciyastore_banner-btn-style-link .ciyastore_banner-btn {
    color: #323232;
}

.ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper.banner-type-1 .ciyastore_banner-btn-wrap.ciyastore_banner-btn-style-link .ciyastore_banner-btn:hover {
    color: #e01f22;
}

.ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper.banner-type-2 .ciyastore_banner-btn-wrap.ciyastore_banner-btn-style-link .ciyastore_banner-btn {
    color: #fff;
}

.ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper.banner-type-2 .ciyastore_banner-btn-wrap.ciyastore_banner-btn-style-link .ciyastore_banner-btn:hover {
    color: #323232;
}

.ciyastore_banner-text h3 {
    font-family: Raleway;
    font-weight: 800;
    font-style: normal;
    font-size: 42px;
    color: #323232;
    line-height: 42px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.ciyastore_banner-text .ciyastore_banner-btn {
    font-family: Raleway;
    font-weight: 800;
    font-style: normal;
    font-size: 42px;
    color: #323232;
    line-height: 42px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.ciyastore_banner-content-inner-wrapper.banner-type-2 .ciyastore_banner-text h3 {
    color: #fff;
}


/*--------------------  Header title Start  -------------------*/

.section-title h3 {
    font-weight: 700;
    text-transform: uppercase;
}

.divider-img {
    margin-bottom: 15px;
}


/*-------------------- Back to top Start  -------------------*/

#back-to-top .top {
    background: #e01f22;
}


/*--------------------  Product action Start  -------------------*/

.products .product-hover-style-image-bottom-bar .product-actions {
    padding-left: 0;
    padding-right: 0;
    bottom: 0px;
    color: #323233;
    border: 0px none;
}

.products .product-hover-style-image-bottom-bar .product-actions .product-action-add-to-cart {
    background-color: #e01f22;
    border-color: #e01f22;
}

.products .product-hover-style-image-bottom-bar .product-actions .product-action-add-to-cart a {
    color: #fff;
    background-color: #e01f22;
}

.products .product-hover-style-image-bottom-bar .product-actions .product-action-add-to-cart a:hover {
    color: #fff;
    background-color: #e01f22;
}

.products .product-hover-style-image-bottom-bar .product-actions .product-actions-inner {
    background-color: #fff;
}

.products .product-hover-style-image-bottom-bar .product-actions a {
    color: #323233;
}

.products .product-hover-style-image-bottom-bar .product-actions a:hover {
    color: #fff;
    background-color: #e01f22;
}

.products .product-hover-style-image-bottom-bar .open-quick-view:hover {
    color: #e01f22;
}

.products .product_icon_type-line-icon .product-actions .product-action-add-to-cart a:before {
    top: 1px;
    left: -5px;
}


/*--------------------  Car Banner Start  -------------------*/

.ciyastore_banner-effect-flash .ciyastore_banner-text h3 {
    font-weight: 900;
    font-style: normal;
    font-size: 56px;
    color: #fff;
    line-height: 56px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.ciyastore_banner-effect-flash .ciyastore_banner-text p {
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: #fff;
    line-height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.ciyastore_banner-effect-border .ciyastore_banner-text h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #fff;
    line-height: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 6px;
    margin-bottom: 15px;
}

.ciyastore_banner-effect-border .ciyastore_banner-text p {
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: #fff;
    line-height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.ciyastore_banner-effect-border .ciyastore_banner-text h2 {
    font-weight: 400;
    font-style: italic;
    font-size: 80px;
    color: #fff;
    line-height: 65px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: "Poppins", sans-serif;
}

.ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-btn-wrap.ciyastore_banner-btn-style-flat.banner-btn-round .ciyastore_banner-btn {
    background: #fff;
    color: #323233;
    border-radius: 3px;
    text-transform: uppercase;
}

.ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-btn-wrap.ciyastore_banner-btn-style-flat.banner-btn-round .ciyastore_banner-btn:hover {
    background: #e01f22;
    color: #fff;
}

.ciyastore_banner .ciyastore_banner-content-vbottom .ciyastore_banner-content-inner-wrapper {
    vertical-align: middle;
}

.ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-btn-wrap.ciyastore_banner-btn-style-flat.banner-btn-round .ciyastore_banner-btn:hover {
    background: #e01f22;
    color: #fff;
}

.ciyastore_banner.ciyastore_banner-effect-border .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-btn-wrap.ciyastore_banner-btn-style-flat.banner-btn-round .ciyastore_banner-btn:hover {
    background: #323233;
    color: #fff;
}

.ciyastore_banner.ciyastore_banner-effect-border.style-colord {
    background: #e01f22 !important;
}


/*--------------------  List Banner Start  -------------------*/

.auto-container {
    padding-left: 8%;
    padding-right: 8%;
}

.auto_list i {
    color: #e01f22;
}

p.auto-list-info {
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
}

p.auto-list-info a {
    font-weight: inherit;
    text-transform: inherit;
    color: #969696;
}

p.auto-list-info a:hover {
    color: #e01f22;
}

ul.auto_list.list.list-unstyled.icon-style-type-default li {
    display: table;
}

.auto-img-center {
    text-align: right;
}


/*--------------------  Product Slider Start  -------------------*/

.left-nav-product-slider-bg {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f5f5f5;
}

.left-nav-product-slider-bg .products .product {
    background: rgba(0, 0, 0, 0);
}

.left-nav-product-slider-bg .products .product-hover-style-image-bottom-bar .product-info {
    background: rgba(0, 0, 0, 0);
}

.products-listing-intro-bg_type-color {
    background-color: #e01f22;
}

.products-listing-title h2 {
    color: #fff;
}

.products-listing-description {
    color: #fff;
}

.owl-carousel:hover .owl-nav .owl-next:hover i {
    background-color: #e01f22;
}

.owl-carousel:hover .owl-nav .owl-prev:hover i {
    background-color: #e01f22;
}


/*--------------------  Latest post Start  -------------------*/

.latest-post-wrapper.latest-post-style-3 .latest-post-item .post-date {
    background-color: #e01f22;
}

.latest-post-wrapper.latest-post-style-3 .latest-post-item .latest-post-entry-footer a {
    color: #e01f22;
}


/*--------------------  Newsletter Style Start  -------------------*/

.auto-newslatter {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #e01f22;
}

.auto-newslatter .newslatter-form .button-area {
    display: table-cell;
    width: 100%;
    vertical-align: top;
    position: relative;
}

.auto-newslatter .newslatter-form .button-area button.submit {
    line-height: 47px;
    -webkit-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
    background: #323232;
}

.auto-newslatter .newslatter-form .button-area button.submit:hover {
    color: #555;
    background: #fff;
}

.auto-newslatter .newslatter-form .input-area {
    display: table-cell;
    width: 100%;
}

.auto-newslatter .newslatter-form .input-area .newsletter-email {
    border-radius: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 47px;
}

.newslatter-text h4 {
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 10px;
    font-size: 26px;
    color: #fff;
}

.newslatter-text p {
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #fff;
}

.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default .select2-results__option:hover {
    background: #e01f22;
    color: #fff;
}

header.site-header .ciya-tools-actions li .widget-shopping-cart .product-list-widget-container {
    margin-bottom: 0;
}

.products .product-info .product-name a:hover,
.products .product-info .product-name a:focus {
    color: #e01f22;
}

.latest-post-wrapper .latest-post-item .blog-title a:hover,
.latest-post-wrapper .latest-post-item .blog-title a:focus {
    color: #e01f22;
}

.newsletter_form input[type=text]:focus {
    border-color: #fff;
}


/*** Modal ***/

#compare,
#search-popup {
    -webkit-overflow-scrolling: touch;
}

.table.compare-list {
    border: none;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #e8e8e8;
}

.table.compare-list th {
    background: #fff;
    color: #323232;
    border-left-color: #e7e7e7;
}

.compare-modal .compare-content table tbody tr th {
    font-weight: 600;
}

.compare-modal .compare-content .compare-title h1 {
    color: #e01f22;
    border: none;
}

.compare-modal .compare-wrapper {
    background: #fff;
    color: #323232;
}

table.compare-list td,
table.compare-list th {
    padding: 10px 15px;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-right-color: #e7e7e7;
    border-bottom-color: #e7e7e7;
}

.compare-modal .compare-content table tbody tr td:nth-of-type(odd) {
    background: #F7F7F7;
    color: #323232;
}

.compare-modal .compare-content table tbody tr.title td {
    color: #323232;
}

.compare-modal .compare-content table tbody tr.price .ciya-Price-amount.amount,
.compare-modal .compare-content table tbody tr.stock span,
.compare-modal .compare-content table tbody tr.price .ciya-Price-amount.amount {
    color: #e01f22;
}

.compare-modal .compare-content table tbody tr.add-to-cart a {
    background: #e01f22;
}

.compare-modal .compare-content table tbody tr.add-to-cart a:hover {
    background: #323232;
}

.compare-modal .compare-content .compare-title button.close {
    opacity: 1;
}

.compare-modal .compare-content .compare-title button.close span {
    color: #323232;
}

.search-modal {
    background: transparent;
}

.search-modal .search-wrapper .search-modal-content {
    background: #fff;
}

.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-inner {
    background: rgba(255, 255, 255, .01);
    border: 1px solid rgba(255, 255, 255, .1);
}

.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-search-button:before {
    color: #e01f22;
}

.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-inner input.form-control {
    color: #969696;
}

.search-modal .search-wrapper .search-modal-content .search-modal-content-inner .search_form-keywords-list li a:hover {
    background: #e01f22;
    color: #fff;
}

.search-modal .search-wrapper .search-modal-content .search-modal-content-inner .search_form-keywords-list {
    padding-left: 0;
}

.modal-header .close {
    color: #323232;
    opacity: 1;
}

.modal-header .close:focus {
    outline: none;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #e01f22;
}

.select2-container--default .select2-results__option:hover {
    background-color: #e01f22;
    color: #fff;
}

footer.site-footer .site-info .footer-widget p a:hover {
    color: #e01f22;
}


/*--------------------  Responsive  Start  -------------------*/

@media only screen and (max-width: 1200px) {
    .section-product-spacing {
        padding: 40px 0px 10px;
    }
    .section-spacing {
        padding: 50px 0px;
    }
    .ciyastore_banner-effect-flash .ciyastore_banner-text h3 {
        font-size: 35px;
        line-height: 35px;
    }
    .ciyastore_banner-effect-border .ciyastore_banner-text h2 {
        font-size: 40px;
        line-height: 40px;
    }
    .ciyastore_banner-effect-border .ciyastore_banner-text h3 {
        font-size: 36px;
        line-height: 36px;
    }
    .ciyastore_banner-effect-flash .ciyastore_banner-text p {
        line-height: normal;
        margin: 6px 0;
    }
    .ciyastore_banner-effect-border .ciyastore_banner-text p {
        line-height: normal;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 992px) {
    .ciyastore_banner-effect-flash .ciyastore_banner-text h3 {
        font-size: 52px;
        line-height: 56px;
    }
    .ciyastore_banner-effect-flash .ciyastore_banner-text p {
        font-size: 12px;
        line-height: 30px;
    }
    .ciyastore_banner-effect-border .ciyastore_banner-text h3 {
        font-size: 52px;
        line-height: 56px;
    }
    .ciyastore_banner-effect-border .ciyastore_banner-text p {
        font-size: 16px;
        line-height: 50px;
    }
    .ciyastore_banner-effect-border .ciyastore_banner-text h2 {
        font-size: 75px;
        line-height: 50px;
    }
    .left-nav-product-slider-bg {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 991px) {
    .header-style-menu-default.is-sticky .sticky-menu {
        display: none;
    }
    .header-style-menu-default .search_form-wrap {
        display: none;
    }
    .header-style-menu-default .header-search-wrap .search-button {
        display: block !important;
    }
    .section-product-spacing {
        padding: 40px 0px 10px;
    }
    header.site-header .ciya-tools {
        margin-left: 0;
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-left: 0;
    }
    header.site-header .ciya-tools .ciya-tools-action i {
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .auto-newslatter .newslatter-form .button-area {
        display: block;
        width: 100%;
    }
    .auto-newslatter .newslatter-form .button-area button.submit {
        margin-top: 10px;
        width: 100%;
        border-radius: 3px;
    }
    .auto-newslatter .newslatter-form .input-area {
        display: block;
        width: 100%;
    }
    .left-nav-product-slider-bg {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .ciyastore_banner-effect-flash .ciyastore_banner-text h3 {
        font-size: 25px;
        line-height: 25px;
    }
    .ciyastore_banner-effect-border .ciyastore_banner-text h2 {
        font-size: 40px;
        line-height: 40px;
    }
    .ciyastore_banner-effect-border .ciyastore_banner-text h3 {
        font-size: 35px;
        line-height: 35px;
    }
    .auto-newslatter .newslatter-form .input-area .newsletter-email {
        border-radius: 3px;
    }
    .search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-inner .search_form-input-wrap {
        margin-bottom: 0;
    }
    .search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-inner .search_form-category-wrap {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 576px) {
    header.site-header .logo-wrapper img {
        max-height: 40px;
    }
    .ciyastore_banner-text h3 {
        font-size: 30px;
        line-height: 30px;
    }
    .search-modal .search-wrapper .search-modal-content {
        vertical-align: middle;
        padding-top: 0;
    }
    .search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-inner .search_form-category-wrap {
        margin-bottom: 20px;
    }
    .search-modal .search-wrapper .search-modal-content .search-modal-content-inner .search_form-keywords-title {
        padding: 20px 0 10px 0;
    }
    .compare-modal .compare-content .compare-title button.close {
        opacity: 1;
        right: 5px;
        top: 15px;
    }
}

@media only screen and (max-width: 375px) {
    header.site-header .ciya-tools .ciya-tools-actions li .widget-shopping-cart {
        margin-left: -16px;
    }
}

@media only screen and (max-width: 320px) {
    header.site-header .ciya-tools .ciya-tools-actions li .widget-shopping-cart {
        margin-left: 10px;
    }
}