@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

body,
html {
  font-family: "Poppins", sans-serif;
  color: #323233; }

h1 {
  font-family: "Poppins", sans-serif; }

h2,
.deal-banner .caption h2 {
  font-family: "Poppins", sans-serif; }

h3 {
  font-family: "Poppins", sans-serif; }

h4 {
  font-family: "Poppins", sans-serif; }

h5,
.testimonials h5 {
  font-family: "Poppins", sans-serif; }

h6,
.share h5,
.share ul,
.sidebar .widget .item-detail h4 {
  font-family: "Poppins", sans-serif; }

/*--------------------  Header Start  -------------------*/
header.site-header .ciya-tools-cart a .count,
header.site-header .ciya-tools-cart .cart-link .count {
  background: #20a696; }

.header-style-menu-center .topbar .topbar-left li.topbar_item:first-child {
  padding-right: 14px; }

header.site-header .ciya-tools-wishlist a .ciyastore-wishlist-count {
  background: #20a696; }

header.site-header .topbar .topbar-link ul li a:hover {
  color: #20a696; }

header.site-header .logo-wrapper img,
.footer-img img {
  max-height: 40px; }

header.site-header.is-sticky .mega-menu .menu-links > li > a:hover {
  color: #20a696; }

header.site-header .ciya-tools-actions > li .widget-shopping-cart .product-list-widget-container .ciyastore-mini-cart .ciya-mini-cart-item a.product-title {
  color: #323232; }

header.site-header .ciya-tools-actions > li .widget-shopping-cart .product-list-widget-container .ciyastore-mini-cart .ciya-mini-cart-item a.product-title:hover {
  color: #20a696; }

header.site-header .ciya-tools-actions > li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button {
  background: #20a696; }

header.site-header .ciya-tools-actions > li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button:hover {
  background: #323232; }

header.site-header .ciya-tools-actions > li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button:last-child {
  background: #323232;
  margin-right: 0; }

header.site-header .ciya-tools-actions > li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button:last-child:hover {
  background: #20a696;
  color: #ffffff !important; }

header.site-header .ciya-tools-actions > li .widget-shopping-cart .ciyastore-mini-cart__total .amount {
  color: #20a696; }

header.site-header .ciya-tools-actions > li .widget-shopping-cart .ciyastore-mini-cart__total strong {
  color: #323232;
  min-width: 40px;
  display: inline-block; }

header.site-header .ciya-tools-actions > li .widget-shopping-cart .quantity .amount {
  color: #20a696; }

.search_form-wrap .search_form-inner input.form-control,
.select2-container--default .select2-selection--single {
  border-radius: 0px; }

.header-style-menu-center .header-search-wrap .search-button:hover {
  color: #20a696; }

.mega-menu * {
  font-family: "Poppins", sans-serif; }

.header-style-menu-center .mega-menu .menu-links > li:hover > a,
.header-style-menu-center .mega-menu .menu-links > li:focus > a {
  color: #20a696; }

header.site-header .header-nav {
  background-color: #fff; }

.mobile-button-menu a span {
  background-color: #323232; }
  .mobile-button-menu a span:after {
    background-color: #323232; }
  .mobile-button-menu a span:before {
    background-color: #323232; }

header.site-header .ciya-tools-actions li .widget-shopping-cart .product-list-widget-container .ciyastore-mini-cart .ciya-mini-cart-item a.product-title {
  color: #323232; }
  header.site-header .ciya-tools-actions li .widget-shopping-cart .product-list-widget-container .ciyastore-mini-cart .ciya-mini-cart-item a.product-title:hover {
    color: #20a696; }

header.site-header .ciya-tools-actions li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button {
  background: #20a696; }
  header.site-header .ciya-tools-actions li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button:hover {
    background: #323232; }
  header.site-header .ciya-tools-actions li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button:last-child {
    background: #323232;
    margin-right: 0; }
    header.site-header .ciya-tools-actions li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button:last-child:hover {
      background: #20a696;
      color: #ffffff !important; }

header.site-header .ciya-tools-actions li .widget-shopping-cart .ciyastore-mini-cart__total .amount {
  color: #20a696; }

header.site-header .ciya-tools-actions li .widget-shopping-cart .ciyastore-mini-cart__total strong {
  color: #323232;
  min-width: 40px;
  display: inline-block; }

header.site-header .ciya-tools-actions li .widget-shopping-cart .quantity .amount {
  color: #20a696; }

header.site-header .ciya-tools-actions li a:hover i {
  color: #20a696; }

.compare-modal .compare-content .compare-title h1 {
  color: #20a696; }

.compare-modal .compare-content table tbody tr.price .ciya-Price-amount.amount {
  color: #20a696; }

.compare-modal .compare-content table tbody tr.add-to-cart a {
  background: #20a696; }

.search_form-wrap .search_form-search-button:before {
  color: #20a696; }

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #20a696; }

.select2-container--default .select2-results__option:hover {
  background: #20a696;
  color: #fff; }

/*--------------------  Footer Start  -------------------*/
footer.site-footer {
  background-size: cover;
  background-position: center bottom;
  color: #969696; }

.footer-wrapper.footer_opacity_custom {
  background-color: rgba(255, 255, 255, 0.9); }

footer.site-footer .site-info {
  background: rgba(0, 0, 0, 0.04);
  color: #969696; }

footer.site-footer .site-info .footer-widget p {
  color: #969696; }

footer.site-footer .footer-title {
  color: #20a696; }

footer.site-footer .widget ul li a,
footer.site-footer .pgs-opening-widget .pgs-opening-hours ul li i,
footer.site-footer .pgs-opening-widget .pgs-opening-hours ul li span,
footer.site-footer .pgs-opening-widget .pgs-opening-hours ul li label {
  color: #969696; }

footer.site-footer .footer-nav-menu ul li a:after,
footer.site-footer .footer-nav-menu ul li a:before {
  color: #969696; }

footer.site-footer .pgs-social-profiles .social-profiles ul li a i {
  color: #969696;
  border: 1px solid rgba(173, 173, 173, 0.5); }

footer.site-footer .pgs-social-profiles .social-profiles ul li a:hover i {
  background-color: #20a696;
  border-color: #20a696;
  color: #fff; }

footer.site-footer .site-info .footer-widget p a,
.search_form-wrap .search_form-search-button:before,
.site-info a {
  color: #20a696; }

footer.site-footer .pgs-contact-widget ul li i {
  color: #20a696; }

footer.site-footer
.pgs-newsletter-widget
.newsletter_form
.button-area
.input-group-btn
> .btn {
  background-color: #20a696; }

footer .footer-address li {
  line-height: 24px !important;
  margin-bottom: 8px !important; }

footer.site-footer .pgs-recent-entries .recent-post .recent-post-info a {
  color: #969696;
  font-weight: 400; }

/*-------------------- Back to top Start  -------------------*/
#back-to-top .top {
  background: #20a696; }

/*--------------------  Revolution Layer Style Start  -------------------*/
#rev_slider_1_1 .metis.tparrows {
  background: white;
  padding: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  width: 60px;
  height: 60px;
  box-sizing: border-box; }

#rev_slider_1_1 .metis.tparrows:hover {
  background: rgba(255, 255, 255, 0.75); }

#rev_slider_1_1 .metis.tparrows:before {
  color: black;
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

#rev_slider_1_1 .metis.tparrows:hover:before {
  transform: scale(1.5); }

/*--------------------  Info Box Start  -------------------*/
.ciyastore-info-box {
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-left-color: #f5f5f5;
  border-left-style: solid;
  border-right-color: #f5f5f5;
  border-right-style: solid;
  border-top-color: #f5f5f5;
  border-top-style: solid;
  border-bottom-color: #f5f5f5;
  border-bottom-style: solid;
  margin-bottom: 30px; }
  .ciyastore-info-box .ciyastore-info-box-inner {
    display: table;
    width: 100%; }
    .ciyastore-info-box .ciyastore-info-box-inner .ciyastore-info-box-icon {
      font-size: 33px;
      line-height: 33px;
      display: table-cell;
      vertical-align: top;
      width: 6%;
      padding-right: 20px;
      border: 0px; }
      .ciyastore-info-box .ciyastore-info-box-inner .ciyastore-info-box-icon .ciyastore-info-box-icon-outer {
        border-color: #20a696;
        border-width: 3px;
        border-style: solid;
        padding: 5px;
        display: inline-block;
        border-radius: 50px; }
        .ciyastore-info-box .ciyastore-info-box-inner .ciyastore-info-box-icon .ciyastore-info-box-icon-outer .ciyastore-info-box-icon-inner {
          width: 55px;
          height: 55px;
          font-size: 25px;
          border-radius: 75px;
          overflow: hidden;
          background-color: #20a696;
          border: 0px none;
          margin-bottom: 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          color: #ffffff; }
          .ciyastore-info-box .ciyastore-info-box-inner .ciyastore-info-box-icon .ciyastore-info-box-icon-outer .ciyastore-info-box-icon-inner i:before {
            font-size: 30px;
            line-height: 40px; }
    .ciyastore-info-box .ciyastore-info-box-inner .ciyastore-info-box-content {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
      .ciyastore-info-box .ciyastore-info-box-inner .ciyastore-info-box-content .ciyastore-info-box-title {
        margin-bottom: 10px;
        font-weight: 600;
        color: #323232;
        line-height: 20px;
        font-size: 20px; }
      .ciyastore-info-box .ciyastore-info-box-inner .ciyastore-info-box-content p {
        line-height: 22px;
        margin-bottom: 0;
        color: #969696; }

/*--------------------  Banner Image Start  -------------------*/
.ciyastore_banner {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  background-size: cover; }
  .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text.text-style-1 {
    font-size: 0.26em;
    color: #626262;
    text-transform: uppercase;
    letter-spacing: 11px;
    line-height: 1.4em;
    font-weight: 400; }
  .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text.text-style-2 {
    font-size: 0.7em;
    color: #20a696;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 1.4em;
    font-weight: bold; }
  .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text.text-style-3 {
    font-size: 0.3em;
    color: #626262;
    line-height: 1.4em;
    font-style: italic;
    font-weight: 400; }
  .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-btn-wrap.ciyastore_banner-btn-size-md .ciyastore_banner-btn {
    color: #20a696;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-width: 1px;
    border-color: #20a696;
    font-size: 13px;
    line-height: 38px;
    padding: 0 20px;
    border-radius: 3px; }
    .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-btn-wrap.ciyastore_banner-btn-size-md .ciyastore_banner-btn:hover {
      color: #323232;
      border-color: #323232;
      border-width: 1px; }
  .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text.tag-style-1 {
    font-size: 0.24em;
    color: #323232;
    background-color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 7px 15px;
    margin-bottom: 5px; }
  .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text.text-style-4 {
    font-size: 0.7em;
    color: #ffffff;
    letter-spacing: 2px;
    line-height: 1.6em;
    font-weight: 500; }
  .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text.text-style-5 {
    font-size: 0.3em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.6em;
    font-weight: 400; }
  .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-btn-wrap.ciyastore_banner-btn-style-flat .ciyastore_banner-btn {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #324b48;
    font-size: 13px;
    line-height: 38px;
    padding: 0 20px;
    border-radius: 3px; }
    .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-btn-wrap.ciyastore_banner-btn-style-flat .ciyastore_banner-btn:hover {
      color: #ffffff;
      background-color: #20a696; }
  .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text.text-style-6 {
    font-size: 0.6em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 6px;
    line-height: 1em;
    font-weight: 400; }
  .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text.text-style-7 {
    font-size: 0.9em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 6px;
    line-height: 1em;
    font-weight: bold; }
  .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-btn-wrap.ciyastore_banner-btn-style-flat.btn-style-colored .ciyastore_banner-btn {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #20a696;
    font-size: 13px;
    line-height: 38px;
    padding: 0 20px;
    border-radius: 3px; }
    .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-btn-wrap.ciyastore_banner-btn-style-flat.btn-style-colored .ciyastore_banner-btn:hover {
      color: #20a696;
      background-color: #ffffff; }

/*--------------------  Product action Start  -------------------*/
.products .product-hover-style-image-bottom-bar .product-actions {
  padding-left: 0;
  padding-right: 0;
  bottom: 0px;
  color: #323233;
  border: 0px none; }
  .products .product-hover-style-image-bottom-bar .product-actions .product-action-add-to-cart {
    background-color: #20a696; }
    .products .product-hover-style-image-bottom-bar .product-actions .product-action-add-to-cart a {
      color: #fff;
      background-color: #20a696; }
      .products .product-hover-style-image-bottom-bar .product-actions .product-action-add-to-cart a:hover {
        color: #fff;
        background-color: #20a696; }
  .products .product-hover-style-image-bottom-bar .product-actions .product-actions-inner {
    background-color: #fff; }
  .products .product-hover-style-image-bottom-bar .product-actions a {
    color: #323233; }
    .products .product-hover-style-image-bottom-bar .product-actions a:hover {
      color: #fff;
      background-color: #20a696; }

.products .product-hover-style-image-bottom-bar .open-quick-view:hover {
  color: #20a696; }

/*--------------------  Slider-hover Start  -------------------*/
.owl-carousel:hover .owl-nav .owl-next:hover i {
  background: #20a696; }

.owl-carousel:hover .owl-nav .owl-prev:hover i {
  background: #20a696; }

/*--------------------  Product Slider Start  -------------------*/
.left-nav-product-slider-bg .products .product {
  background: rgba(0, 0, 0, 0); }

.left-nav-product-slider-bg .products .product-hover-style-image-bottom-bar .product-info {
  background: rgba(0, 0, 0, 0); }

.products-listing-intro-bg_type-color {
  background-color: #20a696; }

.products-listing-title h2 {
  color: #fff; }

.products-listing-description {
  color: #fff; }

/*--------------------  Promo banner Start  -------------------*/
.ciyastore_single-img {
  margin-bottom: 40px; }
  .ciyastore_single-img .section-title h2.title {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 28px; }
  .ciyastore_single-img .section-title p {
    color: #969696;
    font-size: 14px;
    margin-bottom: 10px; }
  .ciyastore_single-img .section-title a {
    background-color: #323232;
    color: #ffffff;
    border-radius: 3px;
    padding: 0 25px;
    font-size: 16px;
    line-height: 48px;
    display: inline-block; }

/*--------------------  testimonial  Start  -------------------*/
.bg-testimonial {
  padding-top: 80px;
  padding-bottom: 80px;
  background-position: 0 0;
  background-repeat: repeat;
  position: relative;
  color: #fff; }
  .bg-testimonial .testiminial-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.7); }
  .bg-testimonial .testimonial i.fa-quote-left {
    color: #20a696; }
  .bg-testimonial .testimonial .client-info .author-name {
    color: #20a696; }
  .bg-testimonial .testimonial .testimonial-nav .slick-current img {
    padding: 0;
    border: 3px solid #20a696; }
  .bg-testimonial .testimonial p {
    color: #fff; }

/*--------------------  Product slider Style Start  -------------------*/
.image-slider-items.image-slider-style-2 .about-details {
  background: #20a696;
  margin: 0 auto;
  color: #fff; }
  .image-slider-items.image-slider-style-2 .about-details h2.title {
    color: #fff; }
  .image-slider-items.image-slider-style-2 .about-details .about-des {
    color: #fff; }

/*--------------------  Instagram Start  -------------------*/
.bg-insta {
  background-color: #f5f5f5;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px; }

.insta_v2_header--button a {
  background: #20a696; }

/*--------------------  Newsletter Style Start  -------------------*/
.newsletter-wrapper.ciyastore_newsletter-content-alignment-right {
  padding-left: 18%; }

.newsletter-wrapper .newsletter {
  text-align: right; }
  .newsletter-wrapper .newsletter h4 {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 10px;
    color: #323232; }
  .newsletter-wrapper .newsletter p {
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    color: #969696; }

.bag-newslatter {
  padding-top: 60px;
  padding-right: 40px;
  padding-bottom: 60px;
  padding-left: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .bag-newslatter .button-area button.submit {
    background: #20a696; }
    .bag-newslatter .button-area button.submit:hover {
      background: #323232; }

.client-logo {
  background-color: #323232; }

.ciyastore_clients {
  background-color: #323232;
  padding-top: 60px;
  padding-right: 40px;
  padding-bottom: 60px;
  padding-left: 40px; }
  .ciyastore_clients h3.title {
    color: #ffffff;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 28px;
    font-size: 30px;
    margin-bottom: 40px; }

@media screen and (max-width: 991px) {
  .ciyastore_banner {
    margin-bottom: 0;
    font-size: 44px; }
  .products [class^="col-"] {
    padding-left: 15px;
    padding-right: 15px; }
  .products {
    margin-left: 0;
    margin-right: 0; } }

@media (max-width: 767px) {
  .footer-widget .text-right {
    text-align: center !important; } }

@media (max-width: 576px) {
  header.site-header .ciya-tools .ciya-tools-actions li {
    width: 28px; }
  .compare-modal .compare-content .compare-title h1 {
    font-size: 18px; }
  .compare-modal .compare-content .compare-title button.close {
    right: 5px; } }
