

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

body,
html {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 14px;font-style: italic; }

h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  line-height: 44px;
  font-size: 44px; }

h2,
.deal-banner .caption h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  line-height: 35px;
  font-size: 36px; }

h3 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  line-height: 28px;
  font-size: 30px; }

h4 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 24px; }

h5,
.testimonials h5 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: 20px; }

h6,
.share h5,
.share ul,
.sidebar .widget .item-detail h4 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  line-height: 18px;
  font-size: 18px; }

/*-------------------- Header Start  -------------------*/
header.site-header {
  background: #fff; }

.header-style-menu-center.header-above-content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1021;
    background: 0 0;
    width: 100%;box-shadow: none;
}
header.site-header.is-sticky{-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.07);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.07);
    box-shadow: 0 3px 6px rgba(0,0,0,.07);}

.header-style-menu-center .mega-menu .menu-links > li > a {
  color: #323232;
  font-weight: 500;
  font-size: 15px;}
header.site-header.is-sticky .mega-menu .menu-links>li>a:hover,
header.site-header.is-sticky .mega-menu .menu-links>li>a:focus
{color: #ae4b5c;}
.header-style-menu-center .mega-menu .menu-links > li a:hover,
.header-style-menu-center .mega-menu .menu-links > li a:focus  {
  color: #ae4b5c; }

header.site-header .topbar .topbar-link ul li a:hover,
header.site-header .topbar .topbar-right .topbar-link > ul > li a:hover,
header.site-header .topbar .topbar-right .topbar-link > ul > li a:hover i,
.header-style-menu-center .header-search-wrap .search-button-wrap .search-button:hover {
  color: #ae4b5c; }

.header-style-menu-center .header-nav {
  text-align: inherit;text-align: center; }

header.site-header .ciya-tools-actions > li i,
.header-style-menu-center .header-search-wrap .search-button-wrap .search-button {
  color: #323232; }

header.site-header .ciya-tools-actions > li:hover i,
header.site-header .ciya-tools-actions > li:focus i {
  color: #ae4b5c; }
header.site-header .ciya-tools-actions>li a:hover,
header.site-header .ciya-tools-actions>li a:hover i{color: #ae4b5c; }
header.site-header.is-sticky .ciya-tools-actions>li a:hover i { color: #ae4b5c; }
header.site-header .ciya-tools-cart a .count,
header.site-header .ciya-tools-cart .cart-link .count {
  background: #ae4b5c; }

  header.site-header .ciya-tools-wishlist a .ciyastore-wishlist-count {
  background: #ae4b5c; }
  header.site-header .ciya-tools-actions li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button {
    background: #ae4b5c; }
  header.site-header .ciya-tools-actions li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button:hover {
      background: #323232; }
  header.site-header .ciya-tools-actions li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button:last-child {
      background: #323232;
      margin-right: 0; }
  header.site-header .ciya-tools-actions li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button:last-child:hover {
        background: #ae4b5c;
    }
  header.site-header .ciya-tools-actions li .widget-shopping-cart .ciyastore-mini-cart__total .amount {
    color: #ae4b5c; }
  header.site-header .ciya-tools-actions li .widget-shopping-cart .quantity .amount {
    color: #ae4b5c; }

header.site-header .ciya-tools-actions li .widget-shopping-cart .product-list-widget-container .ciyastore-mini-cart .ciya-mini-cart-item a.product-title:hover{color: #ae4b5c;}



header.site-header .logo-wrapper img {
  max-height: 60px;
  width: auto;
  max-width: initial; }

.mega-menu * {
  font-family: 'Playfair Display', serif;
  font-size: 15px; }

header.site-header.is-sticky .header-main.header-main-bg-color-default {
  background: #fff; }

/*-------------------- Footer Start  -------------------*/
footer.site-footer {
  background: #fff;
  color: #323232; }

footer.site-footer .site-info {
  background: #fff6f6;
  color: #323232; }

footer.site-footer .site-info .footer-widget p {
  color: #323232; }

footer.site-footer .footer-title {
  color: #ae4b5c; }

footer.site-footer .footer-nav-menu ul li:hover a {
  color: #ae4b5c; }

footer.site-footer .widget ul li a {
  color: #323232; }

footer.site-footer .pgs-social-profiles .social-profiles ul li a i {
  color: #323232;
  border: 1px solid rgba(173, 173, 173, 0.5); }

footer.site-footer .pgs-social-profiles .social-profiles ul li a:hover i {
  background-color: #ae4b5c;
  border-color: #ae4b5c;
  color: #fff; }

footer.site-footer .site-info .footer-widget p a {
  color: #323232; }

footer.site-footer .site-info .footer-widget p a:hover {
  color: #ae4b5c; }

footer.site-footer .pgs-contact-widget ul li i {
  color: #ae4b5c; }

footer.site-footer .site-info a {
  color: #323232; }

footer.site-footer .site-info a:hover {
  color: #ae4b5c; }

footer.site-footer h2 {
  color: #323232;
  font-weight: 500;
  line-height: 38px;
  font-size: 30px; }

footer.site-footer .pgs-recent-entries .recent-post .recent-post-info a {
  color: #323232; }

footer.site-footer .pgs-recent-entries .recent-post .recent-post-info a:hover {
  color: #ae4b5c; }

footer.site-footer .pgs-recent-entries .recent-post .recent-post-info .post-date i {
  color: #ae4b5c; }

footer.site-footer .product-tag-cloud .tagcloud a {
  border: 1px solid rgba(150, 150, 150, 0.25);
  color: #fff; }

footer.site-footer .product-tag-cloud .tagcloud a:hover,
footer.site-footer .product-tag-cloud .tagcloud a:focus {
  border-color: #ae4b5c;
  background-color: #ae4b5c; }

footer.site-footer .pgs-newsletter-widget .newsletter_form .button-area .input-group-btn > .btn {
  border-color: #ae4b5c;
  background-color: #ae4b5c; }

footer.site-footer .footer-nav-menu ul.list-inline li {
  display: inline; }

footer.site-footer .footer-nav-menu ul.list-inline li a:after,
footer.site-footer .footer-nav-menu ul.list-inline li a:before {
  content: ""; }


/*-------------------- Back to top Start  -------------------*/
#back-to-top .top {
  background: #ae4b5c; }
#back-to-top .top i{font-weight: bold;}
#back-to-top .top:hover {
    background: #323232;
}
/*--------------------  Revolution Layer Style Start  -------------------*/
.hermes .tp-bullet {
  overflow: hidden;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 2px #ae4b5c;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  position: absolute; }

.hermes .tp-bullet:hover {
  background-color: rgba(174, 75, 92, 0.5); }

.hermes .tp-bullet:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  width: 100%;
  background-color: #ae4b5c;
  box-shadow: 0 0 1px #ae4b5c;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease; }

.hermes .tp-bullet.selected:after {
  height: 100%; }

/*--------------------  Button Start  -------------------*/
.ciyastore_button_border_square a {
  color: #ae4b5c;
  border-color: #ae4b5c;
  background: none 0% 0%/auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
  padding: 12px 24px;
  border-width: 2px;
  border-style: solid;
  font-size: 14px;
  line-height: 18px;
  display: inline-block; }

.ciyastore_button_border_square a:hover {
  color: #323232;
  border-color: #323232; }

.section-title h2 {
  color: #ae4b5c;
  text-align: left;
  font-weight: 500; }

/*--------------------  Tab Start  -------------------*/
.tab-content {
  width: 100%;
  display: block;
  overflow: hidden; }

.nav-tabs {
  display: inline-block;
  width: auto;
  border: 2px solid #ae4b5c;
  margin: 10px auto 30px; }

.nav-tabs li {
  position: relative;
  list-style-type: none;
  display: inline-block; float: left;}

.nav-tabs li a {
  font-size: 14px;
  font-weight: 600;
  padding: 6px 33px;
  text-transform: uppercase;
  border-radius: 0;
  display: inline-block;
  color: #323232; }

.nav-tabs li a.active {
  background: #ae4b5c;
  color: #fff; }

.nav-tabs li a:hover {
  background: #ae4b5c;
  color: #fff; }
  .owl-carousel:hover .owl-nav i{font-weight: bold;}
.owl-carousel:hover .owl-nav .owl-next:hover i, .owl-carousel:hover .owl-nav .owl-prev:hover i{background: #ae4b5c;}
/*--------------------  Product action Start  -------------------*/
.products {
  text-align: center; }

.products .product-hover-style-image-bottom-bar .product-actions {
  padding-left: 0;
  padding-right: 0;
  color: #323233;
  border: 0px none; }

.products .product .price {
  float: none; }

.products .product-hover-style-image-bottom-bar .product-actions .product-action-add-to-cart {
  background-color: #ae4b5c;
  border-color: #ae4b5c; }

.products .product-hover-style-image-bottom-bar .product-actions .product-actions-inner {
  background-color: #fff; }

.products .product-hover-style-image-bottom-bar .product-actions a {
  color: #323233; }

.products .product-hover-style-image-bottom-bar .product-actions a:hover {
  color: #fff;
  background-color: #ae4b5c; }

.products .product-hover-style-image-bottom-bar .product-actions .product-action-add-to-cart a,
.products .product-hover-style-image-bottom-bar .product-actions .product-action-add-to-cart a:hover {
  color: #fff;
  background-color: #ae4b5c; }

.products .product_icon_type-line-icon .product-actions .product-action-add-to-cart a:before {
  top: 1px;
  left: -5px; }

.products .product-hover-style-image-bottom-bar .open-quick-view:hover {
  color: #ae4b5c; }

.products .product-info .product-name a:hover, .products .product-info .product-name a:focus {
  color: #ae4b5c; }

/*--------------------  feature sale Start  -------------------*/
span.featured {
  position: absolute;
  top: 15px !important;
  left: auto;
  right: 0;
  z-index: 5;
  font-weight: 500;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  background: #f4524d;
  height: 20px;
  line-height: 20px;
  padding: 0 8px 0 8px;
  border-radius: 0;
  transform: rotate(-45deg) translateY(-100%);
  -webkit-transform: rotate(0) translateY(0);
  transform-origin: right top;
  -webkit-transform-origin: right top; }

span.featured:after,
span.featured:before {
  content: "";
  position: absolute;
  left: -10px;
  color: #f4524d;
  border: solid 10px transparent;
  border-left-color: #f4524d; }

span.featured:before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg); }

span.featured:after {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); }

.hot-sale-wrapper span.featured + span.onsale {
  top: 42px !important; }

/*--------------------  We love text Start  -------------------*/
.we-love-section .section-title h2 {
  font-size: 3.5em;
  color: #ae4b5c;
  line-height: 1.3em;
  text-align: left;
  font-family: Montez;
  font-weight: 400;
  font-style: normal; }

.we-love-section .section-title p {
  font-size: 16px;
  text-align: left; }

/*--------------------  flower category text Start  -------------------*/
.flower-category {
  background: #fffbfe; }

.flower-category-text {
  padding: 35px; }

.flower-category-text .section-title h3 {
  color: #ae4b5c;
  text-align: center;
  font-weight: 500; }

.flower-category figure {
  margin: 0px; }

/*--------------------  Image gallery -------------------*/
.image-gallery-item {
  overflow: hidden;
  position: relative; }

.image-gallery-item .image-gallery-hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: rgba(174, 75, 92, 0.47); }

.image-gallery-item .image-gallery-hover a {
  display: block;
  width: 100%;
  height: 100%; }

.image-gallery-item .image-gallery-img img {
  width: 100%;
  max-width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.image-gallery-item:hover .image-gallery-hover {
  opacity: 1;
  visibility: visible; }

.image-gallery-item:hover .image-gallery-img img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1); }

.image-gallery-item .image-gallery-hover .gallery-icon {
  background: 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.image-gallery-item .image-gallery-hover .gallery-icon i {
  font-size: 30px;
  color: #fff; }

/*--------------------  testimonial  Start  -------------------*/
.flower-testimonial {
  background-image: url(../../images/categories/flower/testimonial-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }


.testimonial i.fa-quote-left,
.testimonial .client-info .author-name {
  color: #ae4b5c; }

.testimonial .testimonial-nav .slick-current img {
  padding: 0;
  border: 3px solid #ae4b5c; }
.testimonial .slick-prev, .testimonial .slick-next{ font-weight: bold; }
.testimonial .testimonial-nav .slick-prev:hover:before,.testimonial .testimonial-nav .slick-next:hover:before{color: #ae4b5c;  }


/*--------------------  Latest post Start  -------------------*/
.latest-post-wrapper.latest-post-style-3 .latest-post-item .post-date {
  background-color: #ae4b5c; }

.latest-post-wrapper.latest-post-style-3 .latest-post-item .latest-post-entry-footer a {
  color: #ae4b5c; }

.latest-post-wrapper .latest-post-item .blog-title a:hover,
.latest-post-wrapper .latest-post-item .blog-title a:focus {
  color: #ae4b5c; }

.insta-content {
  padding: 0px; }

/*** Modal ***/
#compare,#search-popup{ -webkit-overflow-scrolling: touch;}
.table.compare-list{ border:none;font-size: 14px;     font-family: "Playfair Display", sans-serif;font-style: normal;}
.table.compare-list th{background: #fff; color: #323232;border-left-color: #e7e7e7;}
.compare-modal .compare-content table tbody tr th{font-weight: 700;font-size: 13px; }
.compare-modal .compare-content .compare-title h1{color: #ae4b5c;border:none;}
.compare-modal .compare-wrapper{    background: #fff;    color: #323232;}
.compare-modal .compare-content table tbody .remove th, .compare-modal .compare-content table tbody .remove td{border-top: 1px solid #dee2e6;}
table.compare-list td, table.compare-list th{    padding: 10px 15px;border-bottom: 1px solid #f1f1f1;border-right: 1px solid #f1f1f1;    border-right-color:#e7e7e7;border-bottom-color:#e7e7e7;}
.compare-modal .compare-content table tbody tr td:nth-of-type(odd){     background: #F7F7F7;color: #323232;  }
.compare-modal .compare-content table tbody tr.title td { color: #323232; }
.compare-modal .compare-content table tbody tr.price .ciya-Price-amount.amount,.compare-modal .compare-content table tbody tr.stock span,.compare-modal .compare-content table tbody tr.price .ciya-Price-amount.amount{color: #ae4b5c;}
.compare-modal .compare-content table tbody tr.add-to-cart a { background: #ae4b5c; }
.compare-modal .compare-content table tbody tr.add-to-cart a:hover{ background: #323232; }
.compare-modal .compare-content .compare-title button.close{opacity: 1;right: 5px;}
.compare-modal .compare-content .compare-title button.close span{ color:#323232; }
.search-modal { background: transparent; }
.search-modal .search-wrapper .search-modal-content { background: #fff; }
.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-inner{    background: rgba(255,255,255,.01);border: 1px solid rgba(255,255,255,.1);}
.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-search-button:before{ color: #ae4b5c;}
.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-inner input.form-control{color: #969696;font-style: italic;}
.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-search-button { font-style: normal; }
.search-modal .search-wrapper .search-modal-content .search-modal-content-inner .search_form-keywords-list li a:hover {background: #ae4b5c;color: #fff;}
.search-modal .search-wrapper .search-modal-content .search-modal-content-inner .search_form-keywords-list {padding-left: 0;}

.modal-header .close { color: #323232;opacity: 1;}
.modal-header .close:focus{ outline: none; }
.select2-container--default .select2-results__option[aria-selected="true"] {     background-color: #ae4b5c; }
.select2-container--default .select2-results__option:hover { background-color: #ae4b5c; color: #fff;  }




@media only screen and (max-width: 1199px) {
header.site-header.is-sticky .logo-wrapper img {     max-height: 50px;}
header.site-header.is-sticky .mega-menu .menu-links>li>a{padding: 0 6px 0 6px; }
}

@media only screen and (max-width: 992px) {
  h2 {
    font-size: 30px;
    line-height: 40px; }
  header.site-header.header-above-content {
    background: #fff; }
  header.site-header .logo-wrapper img {
    max-height: 60px;
    width: auto;
    max-width: initial; }
    header.site-header.is-sticky .logo-wrapper img {
    max-height: 60px;
    }
  .header-above-content .mobile-butoon-menu a span {
    background: #323232; }
    .header-above-content .mobile-butoon-menu a span:after, .header-above-content .mobile-butoon-menu a span:before {
      background: #323232; }
  .mobile-button-menu { padding: 0; }
  .header-style-menu-center .container-fluid {
    padding-left: 35px;
    padding-right: 35px;
}
footer.site-footer .pgs-social-profiles .social-profiles ul li { margin-right: 5px; }

       }

@media only screen and (max-width: 767px) {

  h2 {
    font-size: 26px;
    line-height: 34px; }
  .ciyastore_image-gallery_img {
    margin-bottom: 20px; }
  .image-gallery {
    margin-bottom: 30px; }
  .nav-tabs,
  .nav-tabs li,
  .nav-tabs li a {
    width: 100%;
    display: block;
    text-align: center;    float: none; }
   .footer-nav-menu  {margin-top: 10px;}
.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-inner .search_form-input-wrap { margin-bottom: 0; }
.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-inner .search_form-category-wrap{ margin-bottom: 0; }


     }



@media only screen and (max-width: 576px) {
.search-modal .search-wrapper .search-modal-content {vertical-align: middle;   padding-top: 0;}
.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-inner .search_form-category-wrap{ margin-bottom: 20px; }
.compare-modal .compare-content .compare-title button.close{opacity: 1;right: 5px;top: 15px;}
.header-style-menu-center .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}


}

@media only screen and (max-width: 479px) {
  h2 {
    font-size: 22px;
    line-height: 26px; }
  header.site-header .logo-wrapper img {
    width: 100%; } }

@media only screen and (max-width: 375px) {
header.site-header .ciya-tools .ciya-tools-actions li { width: 25px; }


  }