/***************************
    REVOLUTION SLIDER
***************************/
#rev_slider_1_1 .zeus.tparrows {
  cursor: pointer;
  min-width: 70px;
  min-height: 70px;
  position: absolute;
  display: block;
  z-index: 100;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1); }
  #rev_slider_1_1 .zeus.tparrows:before {
    font-family: "revicons";
    font-size: 20px;
    color: white;
    display: block;
    line-height: 70px;
    text-align: center;
    z-index: 2;
    position: relative; }
  #rev_slider_1_1 .zeus.tparrows:hover .tp-arr-imgholder {
    transform: translatex(0);
    -webkit-transform: translatex(0);
    opacity: 1; }
  #rev_slider_1_1 .zeus.tparrows:hover .tp-title-wrap {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }

#rev_slider_1_1 .zeus.tparrows.tp-leftarrow:before {
  content: "\e824"; }

#rev_slider_1_1 .zeus.tparrows.tp-rightarrow:before {
  content: "\e825"; }

#rev_slider_1_1 .zeus .tp-title-wrap {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  border-radius: 50%; }

#rev_slider_1_1 .zeus .tp-arr-imgholder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  transform: translatex(-100%);
  -webkit-transform: translatex(-100%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s; }

#rev_slider_1_1 .zeus.tp-rightarrow .tp-arr-imgholder {
  transform: translatex(100%);
  -webkit-transform: translatex(100%); }

/***************************
    HEADER CSS
***************************/
h1, h2, h3, h4, h5, h6 {
  font-family: "Damion", cursive;
  font-weight: 400; }

h1 {
  line-height: 48px;
  font-size: 44px; }

h2 {
  line-height: 40px;
  font-size: 36px; }

h3 {
  line-height: 34px;
  font-size: 30px; }

h4 {
  line-height: 28px;
  font-size: 24px; }

h5 {
  line-height: 24px;
  font-size: 20px; }

h6 {
  line-height: 24px;
  font-size: 18px; }

body, html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px; }

header.site-header .ciya-tools-cart .cart-link .count {
  background: #f35a0e; }

header.site-header .ciya-tools-cart a .count {
  background: #f35a0e; }

header.site-header .ciya-tools-wishlist a .ciyastore-wishlist-count {
  background: #f35a0e; }

header.site-header .ciya-tools-actions > li a:hover i {
  color: #f35a0e; }
header.site-header.is-sticky .ciya-tools-actions>li a:hover i{color: #f35a0e;}

header.site-header .header-nav {
  background: #fff; }

.mega-menu .menu-links > li > a {
  color: #323232; }

.mega-menu .menu-links > li.current-menu-item a {
  color: #f35a0e; }

.header-style-logo-center .header-search-wrap .search-button-wrap .search-button:hover {
  color: #f35a0e; }
.header-style-logo-center .header-search-wrap .search-button-wrap .search-button{    box-shadow: none !important;
    background: inherit !important;
    border-color: inherit !important;}
header.site-header .sticky-logo { display: none; }
header.site-header .sticky-action { display: none; }
header.site-header.header-style-logo-center.is-sticky .primary-nav-wrapper .mega-menu .menu-links > li:hover > a {
  color: #f35a0e; }
.header-style-logo-center .primary-nav-wrapper {
    vertical-align: middle;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.header-style-logo-center.is-sticky .primary-nav-wrapper{left: 0;transform: translateX(0);}

header.site-header.is-sticky .header-main{ display: none; }
header.site-header.is-sticky .sticky-logo { display: inline-block;float: left; }
header.site-header.is-sticky .sticky-action{ display: inline-block;float: right; }


header.site-header.is-sticky .mega-menu .menu-links > li > a {
  line-height: 50px;
  height: 50px;
  color: #969696; }

header.site-header.is-sticky .ciya-tools-actions > li i {
  color: #969696; }
header.site-header .logo-wrapper img { max-height: 50px; }
header.site-header.is-sticky .logo-wrapper img {
  max-height: 40px; }

.header-style-logo-center.is-sticky .sticky-action .ciya-tools {
  padding: 12px 0px; }
.header-style-logo-center.is-sticky .sticky-action .header-search-wrap{ display: none; }
.header-style-logo-center.is-sticky .primary-nav {
  padding: 10px 0px; text-align: center;}

.header-style-logo-center.is-sticky .mega-menu .menu-links > li:hover > a {
  color: #f35a0e; }

.header-style-logo-center.is-sticky .mega-menu .menu-links > li.current-menu-item a {
  color: #f35a0e; }
header.site-header .ciya-tools-actions li .widget-shopping-cart .quantity .amount{color: #f35a0e;}
header.site-header .ciya-tools-actions li .widget-shopping-cart .ciyastore-mini-cart__total .amount{color: #f35a0e;}
header.site-header .ciya-tools-actions li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button{background:#f35a0e; }
header.site-header .ciya-tools-actions li .widget-shopping-cart .ciyastore-mini-cart__buttons a.button:last-child:hover{background:#f35a0e; }
header.site-header .ciya-tools-actions li .widget-shopping-cart .product-list-widget-container .ciyastore-mini-cart .ciya-mini-cart-item a.product-title:hover{color: #f35a0e;}

.mobile-butoon-menu {
  float: right;
  margin-top: 10px; }

#back-to-top .top {
  background: #f35a0e; }

.mega-menu .menu-links > li:hover > a {
  color: #f35a0e; }

/***************************
    FOOTER CSS
***************************/
footer.site-footer {
  background: #f5f5f5;
  color: #323232; }
  footer.site-footer .footer-title {
    font-size: 24px; font-weight: 500;}
  footer.site-footer .widget ul li a {
    color: #323232; }
  footer.site-footer .widget ul li:hover a {
    color: #f35a0e; }
  footer.site-footer .site-info {
    background: #fff; }
    footer.site-footer .site-info .footer-widget p {
      color: #323232; }
      footer.site-footer .site-info .footer-widget p a {
        color: #323232; }
  footer.site-footer .pgs-opening-widget .pgs-opening-hours ul li {
    color: #323232; }
    footer.site-footer .pgs-opening-widget .pgs-opening-hours ul li i {
      color: #f35a0e; }
  footer.site-footer .pgs-contact-widget ul li i {
    color: #f35a0e; }
  footer.site-footer .pgs-newsletter-widget .newsletter_form .button-area .input-group-btn > .btn {
    background: #f35a0e; }
  footer.site-footer .pgs-newsletter-widget .newsletter_form .newsletter-email:focus {
    border-color: #f35a0e; }
  footer.site-footer .pgs-social-profiles .social-profiles ul li a:hover i {
    background-color: #f35a0e;
    border-color: #f35a0e; }
  footer.site-footer .pgs-social-profiles .social-profiles ul li a i {
    color: #323232; }
footer.site-footer a {
    color: #323232;
}
footer.site-footer a:hover{ color: #f35a0e; }
#primary-menu i.hot-label {
  background: #f35a0e; }

/***************************
    LAYOUT CSS
***************************/
.banner-wrapper {
  position: relative;
  background: #fff;
  margin-top: -100px;
  padding: 40px 40px 0;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07); }
  .banner-wrapper.banner-wrapper-1 {
    margin-bottom: 100px;
    padding: 0; }
    .banner-wrapper.banner-wrapper-1 .ciyastore_banner {
      margin-bottom: 0;
}
      .banner-wrapper.banner-wrapper-1 .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2 {
        font-size: 56px;
        line-height: 66px !important;
        margin-bottom: 16px; }
      .banner-wrapper.banner-wrapper-1 .ciyastore_banner .ciyastore_banner-text-wrap-1 h4 {
        font-size: 22px !important;
        line-height: 30px !important;
        font-weight: 400 !important; }
  .banner-wrapper .ciyastore_banner {
    margin-bottom: 40px; }
    .banner-wrapper .ciyastore_banner .ciyastore_banner-content {
      padding: 50px 30px; }
      .banner-wrapper .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2 {
        font-size: 140px;
        line-height: 100px;
        margin-bottom: 0; }
        .banner-wrapper .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2 span {
          color: #f35a0e; }
      .banner-wrapper .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h4 {
        font-family: "Open Sans", sans-serif;
        font-size: 28px;
        line-height: 38px;
        font-weight: 600;
        margin-bottom: 0; }
        .banner-wrapper .ciyastore_banner .ciyastore_banner-btn-shape-rounded a.ciyastore_banner-btn{ border-radius: 3px;}

    .banner-wrapper .ciyastore_banner.ciyastore_banner-1 {
      background-color: #f5f5f5 !important; }
      .banner-wrapper.banner-wrapper-1 .ciyastore_banner.ciyastore_banner-1 {
      background-color: #ffffff !important; }
      .banner-wrapper .ciyastore_banner.ciyastore_banner-1 .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2 {
        line-height: 60px; }
    .banner-wrapper .ciyastore_banner.ciyastore_banner-2 {
      background-color: #f35a0e !important; }
    .banner-wrapper .ciyastore_banner.ciyastore_banner-3 {
      background-color: #f5f5f5 !important; }
      .banner-wrapper .ciyastore_banner.ciyastore_banner-3 .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2 {
        margin-bottom: inherit;
        line-height: 170px; }
      .banner-wrapper .ciyastore_banner.ciyastore_banner-3 .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h4 {
        font-size: 36px;
        line-height: 46px;
        font-weight: 400; }

.products .product-hover-style-info-bottom-bar .product-actions .product-action-add-to-cart a {
  background: #f35a0e; }

.products .product-hover-style-info-bottom-bar .open-quick-view:hover {
  color: #f35a0e; }

.products .product-hover-style-info-bottom-bar .product-actions a:hover {
  background: #f35a0e;
  color: #fff; }

.products .product-hover-style-info-bottom-bar .product-actions .product-action-add-to-cart {
  border-top: 1px solid #f35a0e;
  border-bottom: 1px solid #f35a0e; }

.products .product .price {
  float: none; }

.products .product-info .product-name a:hover, .products .product-info .product-name a:focus {
  color: #f35a0e; }

.products .product-info .product-name a {
  font-size: 21px; }

.products .product .onsale.featured {
  top: 41px !important;
  background: #f4524d;
  text-transform: uppercase; }
  .products .product .onsale.featured:before, .products .product .onsale.featured:after {
    border-left-color: #f4524d;
    color: #f4524d; }

.section-title {
  text-align: center; }
  .section-title h2 {
    margin-bottom: 0;
    font-size: 48px;
    color: #f35a0e; }

.deal-counter-wrapper {
  padding-top: 20px;
  padding-bottom: 20px; }
  .deal-counter-wrapper .deal-counter {
    font-size: initial; }
  .deal-counter-wrapper .deal-expire-message {
    font-size: 18px;
    color: #fff;
    background: #000;
    padding: 10px 20px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    display: inline-block; }

.ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper
.ciyastore_banner-btn-wrap.ciyastore_banner-btn-style-flat .ciyastore_banner-btn {
  background: #f35a0e; }

.info-wrapper {
  margin-bottom: 50px; }
  .info-wrapper .ciyastore_info_box_2 {
    padding: 35px 15px 0 15px;
    border: 10px solid #d1d1d1;
    margin-top: 60px;
    margin-bottom: 30px; }
    .info-wrapper .ciyastore_info_box_2 .ciyastore_info_box_2-inner {
      margin-top: -105px;
      padding-top: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      padding-left: 30px; }

.ciyastore_info_box_2-icon-style-border .ciyastore_info_box_2-icon-inner {
  border: none;
  background: #f35a0e;
  color: #fff; }

.ciyastore_info_box_2.ciyastore_info_box_2-icon-style-border .ciyastore_info_box_2-icon {
  display: inline-block;
  margin-bottom: 20px; }

.ciyastore_info_box_2-content_alignment-center {
  text-align: center; }

.ciyastore_info_box_2-icon-style-border.ciyastore_info_box_2-icon-size-lg .ciyastore_info_box_2-icon-inner {
  width: 85px;
  height: 85px; }

.ciyastore_info_box_2-icon-style-border.ciyastore_info_box_2-icon-size-lg .ciyastore_info_box_2-icon-inner {
  font-size: 38px; }

.ciyastore_info_box_2.ciyastore_info_box_2-icon-shape-round .ciyastore_info_box_2-icon-inner {
  border-radius: 75px;
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  border-color: #f35a0e;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: all 0.3s ease-in-out; }

.ciyastore_info_box_2.ciyastore_info_box_2-layout-style_2.animated:hover .ciyastore_info_box_2-icon-inner {
  transform: scale(1.2); }

.latest-wrapper {
  margin-bottom: 80px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain; }
  .latest-wrapper .latest-post-wrapper.latest-post-style-3 .latest-post-item .latest-post-entry-footer a {
    color: #f35a0e; }
  .latest-wrapper .latest-post-wrapper.latest-post-style-3 .latest-post-item .blog-title a:hover {
    color: #f35a0e !important; }
  .latest-wrapper .latest-post-wrapper.latest-post-style-3 .latest-post-item .post-date {
    background: #f35a0e; }
  .latest-wrapper .latest-post-wrapper.latest-post-style-3 .latest-post-item .blog-title {
    font-size: 21px; }
  .latest-wrapper .latest-post-wrapper .latest-post-item .blog-title {
    font-weight: 400; }




/*** Modal ***/
#compare,#search-popup{ -webkit-overflow-scrolling: touch;}
.table.compare-list{ border:none;font-size: 14px;     font-family: "Poppins", sans-serif;}
.table.compare-list th{background: #fff; color: #323232;border-left-color: #e7e7e7;}
.compare-modal .compare-content table tbody tr th{font-weight: 700; }
.compare-modal .compare-content .compare-title h1{color: #f35a0e;border:none; font-family: "Poppins", sans-serif;}
.compare-modal .compare-wrapper{    background: #fff;    color: #323232;}
.compare-modal .compare-content table tbody .remove th, .compare-modal .compare-content table tbody .remove td{border-top: 1px solid #dee2e6;}
table.compare-list td, table.compare-list th{    padding: 10px 15px;border-bottom: 1px solid #f1f1f1;border-right: 1px solid #f1f1f1;    border-right-color:#e7e7e7;border-bottom-color:#e7e7e7;}
.compare-modal .compare-content table tbody tr td:nth-of-type(odd){     background: #F7F7F7;color: #323232;  }
.compare-modal .compare-content table tbody tr.title td { color: #323232; }
.compare-modal .compare-content table tbody tr.price .ciya-Price-amount.amount,.compare-modal .compare-content table tbody tr.stock span,.compare-modal .compare-content table tbody tr.price .ciya-Price-amount.amount{color: #f35a0e;}
.compare-modal .compare-content table tbody tr.add-to-cart a { background: #f35a0e; }
.compare-modal .compare-content table tbody tr.add-to-cart a:hover{ background: #323232; }
.compare-modal .compare-content .compare-title button.close{opacity: 1;right: 5px;}
.compare-modal .compare-content .compare-title button.close span{ color:#323232; }
.search-modal { background: transparent; }
.search-modal .search-wrapper .search-modal-content { background: #fff; }
.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-inner{    background: rgba(255,255,255,.01);border: 1px solid rgba(255,255,255,.1);}
.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-search-button:before{ color: #f35a0e;}
.search-modal .search-wrapper .search-modal-content .search-modal-content-inner .search_form-keywords-list li a:hover {background: #f35a0e;color: #fff;}
.search-modal .search-wrapper .search-modal-content .search-modal-content-inner .search_form-keywords-list {padding-left: 0;}

.modal-header .close { color: #323232;opacity: 1;}
.modal-header .close:focus{ outline: none; }
.select2-container--default .select2-selection--single .select2-selection__rendered {     color: #969696; }
.select2-container--default .select2-results__option[aria-selected="true"] {     background-color: #f35a0e; }
.select2-container--default .select2-results__option:hover { background-color: #f35a0e; color: #fff;  }
/***************************
    RESPONSIVE CSS
***************************/
@media (min-width: 1200px) {
  .container {
    max-width: 1400px; }

}

@media only screen and (max-width: 1199px) {
.banner-wrapper .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h4{    font-size: 16px;line-height: 24px;}
.banner-wrapper .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2{ font-size: 75px; }
.banner-wrapper .ciyastore_banner.ciyastore_banner-1 .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2{ line-height: 50px; }
.banner-wrapper .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2{line-height: 60px; }
.banner-wrapper .ciyastore_banner.ciyastore_banner-3 .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2 { line-height: 100px; }
.banner-wrapper .ciyastore_banner.ciyastore_banner-3 .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h4 {    font-size: 20px;line-height: 30px;}
.banner-wrapper.banner-wrapper-1 .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2{ font-size: 46px; }
.info-wrapper .ciyastore_info_box_2 .ciyastore_info_box_2-inner { padding-left:20px;padding-right: 20px; }
footer.site-footer .pgs-opening-widget .pgs-opening-hours ul li span {width:90px; }
footer.site-footer .pgs-social-profiles .social-profiles ul li { margin-right: 5px; }


}

@media only screen and (max-width: 991px) {
  .ciyastore_banner .ciyastore_banner-content {
    position: relative; }
  header.site-header .header-nav {
    display: none; }
  header.site-header.is-sticky .header-nav {
    display: block; }
  header.site-header.is-sticky .primary-nav {
    display: none; }
  header.site-header.is-sticky .mobile-butoon-menu {
    margin-top: 20px; }

.slicknav_menu .slicknav_nav>li>a { margin: 0 30px; }
.header-style-logo-center .logo-wrapper { text-align: left !important; }
.mobile-button-menu{ float: right;margin-top: 10px; margin-left: 6px;}
.site-header.is-sticky .mobile-button-menu { margin-top: 24px; }

  .ciyastore_banner {
    background-size: cover !important;
    background-position: center center !important; }
    .ciyastore_banner .ciyastore_banner-image {
      display: none !important; }
  .banner-wrapper {
    margin-top: -50px;
    margin-bottom: 0;
    padding: 40px 25px 0; }
    .banner-wrapper .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2,
    .banner-wrapper .ciyastore_banner.ciyastore_banner-3 .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2 {
      font-size: 80px;
      line-height: 80px; }
    .banner-wrapper .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h4,
    .banner-wrapper .ciyastore_banner.ciyastore_banner-3 .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h4 {
      font-size: 16px;
      line-height: 26px; } 
.banner-wrapper.banner-wrapper-1 { margin-bottom:50px; }




    }

@media only screen and (max-width: 767px) {
  .banner-wrapper {
    margin-top: -50px;
    margin-bottom: 0;
    padding: 40px 15px 0; }
  .banner-wrapper.banner-wrapper-1 {
    margin-bottom: 60px;
    padding: 0; }
  .banner-wrapper .ciyastore_banner .ciyastore_banner-content {
    padding: 50px 5%; }
  .banner-wrapper.banner-wrapper-1 .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2 {
    font-size: 32px;
    line-height: 46px !important;
    margin-bottom: 0; }
  .banner-wrapper.banner-wrapper-1 .ciyastore_banner {
    background-size: cover !important;
    background-position: center center !important; }
  .info-wrapper .ciyastore_info_box_2 {
    padding: 25px 10px 0 10px; }
.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-inner .search_form-input-wrap { margin-bottom: 0; }
.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-inner .search_form-category-wrap{ margin-bottom: 0; }
.site-info .row>div {
    margin: 5px 0;
}

 }

@media only screen and (max-width: 576px) {
.search-modal .search-wrapper .search-modal-content {vertical-align: middle;   padding-top: 0;}
.search-modal .search-wrapper .search-modal-content .search_form-wrap .search_form-inner .search_form-category-wrap{ margin-bottom: 20px; }
.compare-modal .compare-content .compare-title button.close{opacity: 1;right: 5px;top: 15px;}

}

@media only screen and (max-width: 479px) {
  .banner-wrapper .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2,
  .banner-wrapper .ciyastore_banner.ciyastore_banner-3 .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2 {
    font-size: 60px;
    line-height: 60px; }
  .banner-wrapper .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h4 {
    font-size: 16px;
    line-height: 26px; }
  .banner-wrapper.banner-wrapper-1 .ciyastore_banner .ciyastore_banner-content .ciyastore_banner-content-inner-wrapper .ciyastore_banner-text h2 {
    font-size: 28px;
    line-height: 46px !important;
    margin-bottom: 0; }
  .header-style-logo-center.is-sticky .sticky-action .ciya-tools {
    display: none; }
  header.site-header .ciya-tools-actions > li {
    width: 32px; } }
